<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/Logo_BTD_240228-1.png.webp" alt="" width="100">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/Logo_BTD_240228-1.png.webp" alt="" width="180">
            </span>
        </a>
        <a href="/" class="logo logo-light">
            <span class="logo-lg">
                <img src="/assets/images/Logo_BTD_240228-1.png.webp" alt="" width="90">
            </span>
            <span class="logo-sm">
                <img src="/assets/images/Logo_BTD_240228-1.png.webp" alt="" width="100">
            </span>
        </a>
    </div>
    <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>
    <div data-simplebar class="sidebar-menu-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu"><%=translation.Menu%></li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-book icon nav-icon"></i>
                        <span class="menu-item" data-key="t-covers">Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/categories" data-key="t-covercategory">Categories</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="fa fa-blog icon nav-icon"></i>
                        <span class="menu-item" data-key="t-stories">Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/admin/blog-categories" data-key="t-stories">
                                <i class="fa fa-indent icon nav-icon"></i>
                                <span class="menu-item" data-key="t-stories">Categorie</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/blog-tags" data-key="t-stories">
                                <i class="fa fa-tags icon nav-icon"></i>
                                <span class="menu-item" data-key="t-stories">Tag</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/blog" data-key="t-stories">
                                <i class="bx bx-list-ul icon nav-icon"></i>
                                <span class="menu-item" data-key="t-stories">Blog</span>
                            </a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-cog icon nav-icon"></i>
                        <span class="menu-item" data-key="t-stories">Services</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/admin/services" data-key="t-stories">
                                <i class="bx bx-list-ul icon nav-icon"></i>
                                <span class="menu-item" data-key="t-stories">Service</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/service/create" data-key="t-stories">
                                <i class="bx bx-plus-circle icon nav-icon"></i>
                                <span class="menu-item" data-key="t-stories">Add Service</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/testimonials" >
                        <i class="fa fa-trademark icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users">Testimonials</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/pages" >
                        <i class="bx bx-file icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users">Pages</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-user icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users"><%=translation.Users%></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/users" data-key="t-users"><%=translation.Users%></a></li>
                        <li><a href="/admin/user/create" data-key="t-createuser"><%=translation.Create_User%></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bxs-user icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users">Contact Queries</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/contact-queries" data-key="t-users">Contact Queries</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bxs-user icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users">Admins</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/admins" data-key="t-users">Admins</a></li>
                        <li><a href="/admin/admins/create" data-key="t-createuser">Add Admin</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/profile" >
                        <i class="bx bx-user-circle icon nav-icon"></i>
                        <span class="menu-item" data-key="t-invoices">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/change-password" >
                        <i class="bx bx-key icon nav-icon"></i>
                        <span class="menu-item" data-key="t-invoices">Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-credit-card-front icon nav-icon"></i>
                        <span class="menu-item" data-key="t-users">Setup & Configurations</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/social-media" data-key="t-users">Social Media</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" >
                        <i class="bx bx-log-out icon nav-icon"></i>
                        <span class="menu-item" data-key="t-invoices">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->